[submodule "third-party/JUCE"]
	path = third-party/JUCE
	url = git@github.com:juce-framework/JUCE.git
[submodule "tests/googletest"]
	path = tests/googletest
	url = git@github.com:google/googletest.git
